millegrille_core
run --package millegrilles_core --bin millegrilles_core
CAFILE=/var/opt/millegrilles/configuration/pki.millegrille.cert
CERTFILE=/var/opt/millegrilles/secrets/pki.core.cert
KEYFILE=/var/opt/millegrilles/secrets/pki.core.key
MG_CERTISSUER_URL=http://thinkcentre1.maple.maceroc.com:2080
MG_MONGO_HOST=localhost
MG_MQ_HOST=localhost
MG_NOEUD_ID=42c6d697-84d7-4b07-b62a-f7758804f5b2
MG_REDIS_PASSWORD_FILE=/var/opt/millegrilles/secrets/passwd.redis.txt
MG_REDIS_URL=rediss://client_rust@localhost:6379#insecure
RUST_LOG=warn,millegrilles_core::core_catalogues=debug
